* {
    background-color: orangered;
    font-family: sans-serif;
}

h1, h2 {
    font-size: 32px;
    font-weight: bolder;
    background-color: orange;
    color: beige;
}

h2 {
    font-size: 24px;
    font-weight: bold;
}

ul, ol, li, p {
    background-color: orange;
}

ul li, ol li, p {
    font-size: 18px;
    color: white;
}