.headline {
    font-weight: 900;
    font-size: 38px;
    text-align: center;
    background-color: orange;
    color: beige;
}

.menu {
    background-color: orangered;
}

.menu.item {
    list-style-type: none;
}

.menu.item a {
    color: beige;
    font-weight: 500;
    font-size: 18px;
}